*{
    font-family: 'Be Vietnam Pro', sans-serif;
}
.position-icon {
    position: relative;
    top: 2px;
}

.ctrl-input__span {
    color: var(--text-color);
}

.ctrl-input + .ctrl-input {
    margin-left: 20px;
}

.wrapp {
    white-space: unset !important;
}

.customer-day {
    display: none;
}

.customer-day.active {
    display: table-row;
}

.clamp-line {
    line-height: 1.6rem;
    max-height: 3.2rem;
    margin-bottom: 6px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    --webkit-user-select: none;
}

.clamp-line-1 {
    line-height: 1.6rem;
    max-height: 1.6rem;
    /* margin-bottom: 6px; */
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    --webkit-user-select: none;
}

.btn {
    border: none;
    padding: 6px 10px;
    text-decoration: none;
    color: inherit;
}

.label-top {
    align-self: flex-start;
}

.btn:hover {
    opacity: 0.8;
}

.btn-primary + .btn-primary {
    margin-left: 10px;
}

.bt-1 {
    border-top: 1px solid var(--sub-primary-color);
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-30 {
    margin-top: 30px !important;
}

.px-20 {
    padding: 0 20px;
}

.line {
    display: block;
}

.navbar-custom {
    background-color: var(--primary-color) !important;
}

.sidebar-custom {
    background-color: var(--primary-color) !important;
}

/* width */
.list-menu::-webkit-scrollbar {
    width: 0;
}

/* Track */
.list-menu::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.list-menu::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.list-menu::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Tabble Scroll */


/* width */
.table-responsive::-webkit-scrollbar {
    /* width: 2px; */
    height: 8px;
    
}

/* Track */
.table-responsive::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
.table-responsive::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 8px;
}

/* Handle on hover */
.table-responsive::-webkit-scrollbar-thumb:hover {
    background: var(--sub-primary-color);
    border-radius: 8px;
}

.table-responsive {
    max-height: 100%;
    overflow-y: auto;
}

.df-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-navLink:hover {
    opacity: 0.8;
}

/* Form wrapper */

.form-wrapper {
    padding: 10px 24px;
}

.from-mn-warpper {
    padding: 0 24px;
}

.input-group {
    align-items: center;
    margin: 8px 0;
}

.ctrl-input {
    flex: 1;
    padding: 6px;
    /* border: 1px solid var(--primary-color); */
    min-height: 36px;
    border: none;
    border-radius: 4px;
    outline: none;
}

.ctrl-input:focus {
    
}

.label-input {
    color: var(--text-color);
    min-width: 180px;
    margin: 0;
}

.btn-form {
    padding: 10px 20px;
    background-color: var(--primary-color);
}

.form-flex--wrapper {

}

/*  */

.day-title {
    cursor: pointer;
    text-align: center;
}

.day-title:hover {
    opacity: 0.8;
}

.day-title.active {
    background-color: var(--primary-color);
    color: #fff;
}

.tbl-icon--box {
    text-align: center;
}

.tbl-icon--box:hover {
    opacity: 0.8;
    cursor: pointer;

}

.icon-tbl {
    margin: 0 !important;
    display: block;
}

.link_tbl {
    display: block;
    text-decoration: none;
    color: inherit;
}

.toltal-wrapper {
    
}


.toltal-item {
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    border-left: 5px solid  var(--primary-color);
}
.toltal-item--header h4{
    font-size: 16px;
    font-weight: 700;
    color: black;
}
.toltal-item--content span {
    font-size: 16px;
    color: black;
}
.toltal-item2 {
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    border-left: 5px solid  var(--sub-primary-color);
}

.input-sub--wrarpper {
    flex: 1;
    position: relative;
}

.listCustomer {
    background-color: #fff;
    top: 110%;
    color: var(--text-color);
    position: absolute;
    z-index: 15;
    display: none;
    flex-direction: column;
    width: 100%;
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 0px 0px 10px 0px #e9e9e9;
}

.customer-item:hover {
    cursor: pointer;
    background-color: #eee;
}

.customer-item {
    padding: 4px 12px;
}